@font-face {
    font-family: circular;
    src: url(../fonts/CircularStd-Medium.otf);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    color: white;
    /* border: 1px dashed red; */
    font-family: circular;
    max-width: 100vw;
    color: #a7a7a7;
}

::-webkit-scrollbar {
    background-color: transparent;
    max-height: 50%;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a7a7a751;

}

body {
    max-width: 100vw;
    width: 100vw;
    height: fit-content;

}

.main-body {
    display: flex;
    flex-direction: column;
    background-color: black;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
}

.general-page {
    display: flex;
    max-width: 100vw;
    width: 100%;
    height: 100%;
}

.navigation-container {
    width: 100%;
    height: fit-content;
    background-color: #121212;
    margin: 0.5rem;
    margin-right: 0rem;
    border-radius: 0.5rem;
    padding: 0.8rem;
}

.navigation {

    list-style-type: none;
}

.nav-elements {
    padding: 0.8rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    height: max-content;
}

.library {
    margin: 0.5rem;
    margin-top: 0rem;
    margin-right: 0rem;
    width: 100%;
    height: 45rem;
    background-color: #121212;
    border-radius: 0.5rem;
}    


.nav-text {
    display: flex;
    font-weight: bold;
    height: 100%;
    padding-top: 0.2rem;
    align-items: center;
    text-align: center;

}    

.link-ref {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    align-items: center;
    fill: currentColor;
    color: currentColor;
    transition: 0.3s ease-in-out;
}


.link-ref:hover {
    color: white;
    fill: white;
}

.lib-top {
    display: flex;
    max-width: 100%;
    width: 100vw;
    height: max-content;
    padding-top: 0.3rem;
    justify-content: space-between;
}

.lib-button {
    display: flex;
    background-color: #33333300;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: bold;
    font-size: medium;
    margin: 0.8rem;
    margin-top: 1rem;
    fill: currentColor;
    transition: 0.3s ease-in-out;
}

.lib-button:hover {
    background-color: #2a2a2a8a;
    border-radius: 50%;
}

.bi-plus-lg{
    display: flex;
    width: 1.3rem;
    height: 1.3rem;
    margin: 0.3rem;
    justify-content: center;
    align-items: center;

}

.bi-arrow-right{
    height: 1.3rem;
    width: 1.3rem;
    margin: 0.3rem;
    justify-content: center;
    align-items: center;
}


.plus-button:hover, .arrow-button:hover {
    fill: rgba(255, 255, 255, 0.918);
}

.lib-icon {
    margin-right: 1rem;
}

.yours-lib {
    padding-left: 1rem;
    width: fit-content;
}

.func-button {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}


.func-container {
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: max-content;
    height: fit-content;
}



.left-page {
    height: max-content;
    width: 26rem;
    margin-right: 0.5rem;
}

.lib-filter {
    display: flex;
    margin-left: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
}

.bttn-filter {
    width: 4.2rem;
    height: 1.8rem;
    border-style: none;
    border-radius: 0.8rem;
    background-color: #FFFFFF12;
    margin-right: 0.5vw;
    color: white;
}

.bttn-filter:hover {
    background-color: #ffffff1a;
}

.search {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

}

.search-bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: #33333300;
    border-style: none;
    border-radius: 2rem;
    fill: currentColor;
}

.search-bttn:hover {
    background-color: #ffffff1a;
    fill: white;
}



.recent {
    display: flex;
    align-items: center;
}

.recent-text {
    padding-right: 0.3rem;
}

.recent-bttn {
    display: flex;
    background-color: #33333300;
    border-style: none;
    flex-shrink: 0;
    fill: currentColor;
}

.recent-arrow {
    margin-left: 0.5rem;
}

.recent-bttn:hover {
    color: white;
    fill: white;
}

.liked-songs {
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 0.2rem;
}

.playlist {
    display: flex;
    flex-direction: row;
    height: max-content;
}

.top-playlists {
    max-width: 100vw;
    width: 100%;
}

.playlist-name {
    display: flex;
    flex-direction: column;
    padding-left: 0.7rem;
    color: white;
    align-items: flex-start;
    font-size: 1rem;
}

.playlist-description {
    font-size: small;
    padding-top: 0.4rem;
}

.fixed-icon {
    margin-right: 0.3rem;
}

.left-overflow {
    overflow-y: scroll;
    max-height: 100%;
    height: 38.3rem;
}

.playlist-albuns {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.playlist-button {
    margin: 0rem 0.5rem;
    padding: 0.5rem;
    background-color: #33333300;
    border-style: none;
    border-radius: 0.4rem;
}

.playlist-button:hover {
    background-color: #2a2a2a87;
}

.hover-style:hover {
    color: white;
}

.right-page {
    max-width: 100%;
    max-height: 100%;
    height: 53.4rem;
    margin: 1rem;
    margin-top: 0;
    margin-left: 0;
}

.main-page {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background: linear-gradient(to bottom, #5353536f, #121212 20%);
    max-width: 100%;
    width: max-content;
    height: 52.5rem;
    border-radius: 0.5rem;
    padding: 1rem 1rem 1rem 1rem;

}

.top-navigation {
    display: flex;
    height: 4rem;
    max-width: 100vw;
    width: 100%;
    justify-content: space-between;
}

.right-page-button {
    display: flex;
    margin-bottom: 2rem;
    gap: 0.5rem;
    
}
.install-app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    fill: white;
    border-style: none;
    width: 10rem;
    height: 2rem;
    border-radius: 31rem;
    gap: 0.3rem;
}

.install-app-text {
    color: white;
}

.premium-subscribe {
    background-color: white;
    color: black;
    border-style: none;
    width: 10rem;
    height: 2rem;
    padding: 0.25rem 1rem;
    border-radius: 31rem;
}

.premium-subscribe:hover, .install-app-container:hover, .profile-photo-container:hover {
    transform: scale(1.05);
}


.profile-photo-container {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.profile-photo {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.profile-buttons {
    display: flex;
    gap: 1rem;
}

.forward-button, .back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.forward-icon, .back-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-text {
    width: 100%;
    color: white;
    fill: white;
}

.principal {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-height: 46.8rem;
    height: 100%;
    overflow-y: scroll;
}

.principal-title-text {
    margin-bottom: 1.2rem;
}

.principal-playlist-img-container {
    display: flex;
}

.principal-playlist-img {
    width: 80px;
    height: 80px;
    border-radius: 0.2rem;
}

.principal-playlist-name {
    display: flex;
    flex: 1;
    font-size: small;
    align-items: center;
    padding-left: 1rem;
}

.playlist-principal {
    display: flex;
    background-color: #cbcbcb1d;
    width: 28.7rem;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.playlist-principal:hover {
    background-color: #cbcbcb3e;
}

.principal-play-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0%;
    transition: opacity 0.3s ease-in-out;
}

.principal-play-container:hover {
    opacity: 100%;
}

.principal-play-box {
    z-index: 12;
    display: flex;
    background-color: #1ed760;
    border-radius: 100rem;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.principal-play-box:hover {
    transform: scale(1.1);
}


.playlist-exibition {
    display: grid;
    grid-template-columns: 28.7rem 28.7rem 28.7rem;
    gap: 1rem 1.5rem;

}

.playlist-section {
    margin-bottom: 2.6rem;
}

.playlist-function {
    display: flex;
    margin-right: 2rem;
    justify-content: space-between;
}

.playlist-title, .show-all {
    width: fit-content;
    text-decoration: none;
}

.playlist-title:hover, .show-all:hover {
    text-decoration: underline;
}

.music-list {
    display: flex;
    gap: 1.5rem;
}

.playlist-element {
    margin-top: 1.5rem;
    background-color: #181818;
    width: 11.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}

.playlist-element:hover {
    background-color: #303030;
}

.playlist-element-container {
    padding: 1rem;
    height: max-content;
}

.playlist-element-container:hover {
    cursor: pointer;
}

.playlist-element-img {
    position: relative;
    flex: 1;
    margin-bottom: 1rem;
    height: 9.4rem;
}


.playlist-element-title {
    position: relative;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

}

.playlist-element-desc {
    position: relative;
    height: fit-content;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    font-size: 0.85rem;
}

.playlist-play-box {
    position: relative;
    z-index: 2;
    display: flex;
    background-color: #1ed760;
    border-radius: 100rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    margin-right: 0.8rem;
}

.playlist-play-box:hover{
    transform: scale(1.1);
}

.playlist-play-container {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0%;
    transition: opacity 0.3s ease-in-out;
}

.playlist-play-container:hover {
    opacity: 100%;
}

.play-button-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.playlist-play {
    width: 1.5rem;
    height: 1.5rem;
}

/* .music-player {
    display: flex;
    bottom: 0;
    max-width: 100vw;
    width: 100%;
    height: 5rem;
    background-color: black;
    border-color: red;
} */